<!DOCTYPE html>
<html lang="en" ng-app='dmAtix'>
<head>
	<base href="/help/" >
    <meta charset="utf-8">
    <title><?js= title ?></title>
	<script src="/jquery/dist/jquery.min.js"></script>   
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
	<script src="/angular-aria/angular-aria.js"></script>
	<script src="/angular-animate/angular-animate.js"></script>
	<script src="/angular-material/angular-material.min.js"> </script>
	<script src="/dist/docomatix.js"></script>
	<script src="/dist/prism.js"  data-manual></script>

    <link type="text/css" rel="stylesheet" href="/angular-material/angular-material.min.css">
    <link type="text/css" rel="stylesheet" href="/dist/prism.css">
    <link type="text/css" rel="stylesheet" href="/dist/docomatix.css">
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body ng-controller='main' layout layout-fill>
	<md-sidenav class="md-sidenav-left md-whiteframe-8dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar class="md-whiteframe-4dp" layout layout-padding layout-align="start center" style='z-index:10'>
			<div><a href="./"><md-icon style="font-size:1.5em; margin-bottom:13px">home</md-icon></a></div>
			<div flex>
				<md-input-container id='search'>
					<!-- Use floating placeholder instead of label -->
					<label>search</label>
					<md-icon style="color:white">search</md-icon>
					<input ng-model="search" type="search">
				</md-input-container>
			</div>
		</md-toolbar>
		<md-content flex style="background:{{color.primary.default}};overflow-x:hidden">
			<dm-sidemen>
				<?js= this.nav ?>
			</dm-sidemen>
		</md-content>
	</md-sidenav>
	<div layout='column' layout-fill>
		<md-toolbar class="md-whiteframe-4dp site-content-toolbar md-accent" layout-align="center" layout-padding ng-cloak>
			{{g.pageTitle}}
		</md-toolbar>
		<md-content id="main" layout='column' flex>
			<div ng-view class="[autoscroll: true;]"></div>
			<footer>
				Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
			</footer>
		</md-content>

	</div>

</body>
</html>
